extends ../shared/frontendlayout


block content
    .breadcrumb_section.bg_gray.page-title-mini
        .container
            .row.align-items-center
                .col-lg-7.offset-lg-3
                    .page-title
                        h1 #{titulo}
    .container
        .row.align-items-center
            .col-lg-9.offset-lg-3
                .row.align-items-center.mb-4.pb-1
                    .col-12
                        .product_header
                            .product_header_left
                                //- .custom_select
                                //-     select.form-control.form-control-sm
                                //-         option(value='order') Default sorting
                                //-         option(value='popularity') Sort by popularity
                                //-         option(value='date') Sort by newness
                                //-         option(value='price') Sort by price: low to high
                                //-         option(value='price-desc') Sort by price: high to low
                            .product_header_right
                                h3 Filtros
                                //- .products_view
                                //-     a.shorting_icon.grid.active(href='javascript:Void(0);')
                                //-         i.ti-view-grid
                                //-     a.shorting_icon.list(href='javascript:Void(0);')
                                //-         i.ti-layout-list-thumb
                                form#filtro(action="/obtenerProducto", method="post")
                                    if progroupFrag
                                        label(for='fragancia') Fragancia
                                            select.select.form-control.form-control-sm(id='fragancia' name='fraga')
                                                option(value='') Seleccione Fragancia
                                                each frag in progroupFrag
                                                    option(value=frag[0].fragancia.id ) #{frag[0].fragancia.name}
                                                        a(href='') 
                                                        
                                    if progroupTam
                                        label(for='tamano') Tamaño
                                            select.select.form-control.form-control-sm(id='tamano' name='tama')
                                                option(value='') Seleccion
                                                each tama in progroupTam
                                                    option(value=tama[0].tamano.id ) #{tama[0].tamano.name}
                                    if progroupLitr
                                        label(for='presentacion') Presentacion
                                            select.select.form-control.form-control-sm(id='presentacion' name='prese')
                                                option(value='') Seleccione Presentacion
                                                each prese in progroupLitr
                                                    option(value=prese[0].presentacion.id) #{prese[0].presentacion.name}
                input(type="hidden" id="categoria" name="categoria" value=cateid)
                .row.shop_container.list.animate__animated.animate__fadeIn
                    .col-md-12#listaProdu
                        each val in productosVista
                            .product
                                .product_img
                                    a(href='/enviarCarroCompra/'+val.id)
                                        img(src='/admin/producto/getImageFile/'+val.img alt='product_img1')
                                    .product_action_box
                                        ul.list_none.pr_action_btn
                                            li.add-to-cart
                                                a(href='/enviarCarroCompra/'+val.id)
                                                    i.icon-basket-loaded
                                                    |  Agregar
                                .product_info
                                    h6.product_title
                                        a(href='/enviarCarroCompra/'+val.id) #{val.name}
                                    .product_price
                                        span.price $#{val.price}
                                        //- del $55.25
                                        //- .on_sale
                                        //-     span 35% Off
                                    .rating_wrap
                                        .rating
                                            .product_rate(style='width:80%')
                                        span.rating_num (21)
                                    .pr_desc
                                        p #{val.description}
                                    ul.product-meta
                                        li
                                            | Codigo: 
                                            a.code(href='#') #{val.code}
                                        li
                                            | Categoria: 
                                            a(href='#') #{val.categoria}
                                    .list_product_action_box
                                        ul.list_none.pr_action_btn
                                            li.add-to-cart
                                                a(href='/enviarCarroCompra/'+val.id)
                                                    i.icon-basket-loaded
                                                    |  Agregar
                    //- .row
                    //-     .col-12
                    //-         ul.pagination.mt-3.justify-content-center.pagination_style1
                    //-             li.page-item.active
                    //-                 a.page-link(href='#') 1
                    //-             li.page-item
                    //-                 a.page-link(href='#') 2
                    //-             li.page-item
                    //-                 a.page-link(href='#') 3
                    //-             li.page-item
                    //-                 a.page-link(href='#')
                    //-                     i.linearicons-arrow-right
    script(src="/javascripts/frontEnd/articulos.js")